<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Countries</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Countries</h1>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Capital City</th>
        </tr>
        <tr th:each ="country : ${countries}">
            <td th:utext="${country.id}">..</td>
            <td th:utext="${country.name}">..</td>
            <td th:utext="${country.capitalCity}">..</td>
        </tr>
    </table>
</div>
</body>
</html>
